<div class="container">
    <div class="header text-warning w-100 text-center h1">{{title}}</div>
    <div class="body text-warning w-100 text-center h1">Counter:{{counter}}</div>
    <div class="buttons text-warning w-100 text-center h1">
        <button class="btn btn-warning p-2 m-2" (click)="handlecounter('reset')">Reset</button>
        <button class="btn btn-danger p-2 m-2" (click)="handlecounter('stop')">Stop</button>
        <button class="btn btn-success p-2 m-2" (click)="handlecounter('continue')">Run</button>
    </div>

</div>